@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-gray-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  @extend %flex-col, %flex-center;

  &--main {
    font-size: 6rem;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    font-size: 2rem;
    letter-spacing: 1.74rem;
    font-weight: 600;
    animation: moveInRight 1s ease-out;
    margin-bottom: 6rem;
    @include respond(phone) {
      letter-spacing: .5rem;
    }
  }
}

.heading-secondary {
  display: inline-block;

  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  @include text-gradient($color-primary-light, $color-primary-dark);

  transition: all .2s ease-out;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);

    @media (hover: none) {
      transform: skewY(0) skewX(0) scale(1);
      text-shadow: none;
    }
  }

  @include respond(tab-port) {
    font-size: 3.2rem;
    text-align: center;
  }

  @include respond(phone) {
    font-size: 2.5rem;
  }

}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}