@mixin grid($col: 2, $gap: 6rem) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  column-gap: $gap;
  justify-items: center;
}

@mixin text-gradient($color_1, $color_2) {
  background-image: linear-gradient(to right, $color_1, $color_2);
  -webkit-background-clip: text;
  color: transparent;
}