@mixin grid($col: 2, $gap: 6rem) {
  display: grid;
  grid-template-columns: repeat($col, minmax(0, 120rem));
  column-gap: $gap;
  justify-items: center;
}

@mixin text-gradient($color_1, $color_2) {
  background-image: linear-gradient(to right, $color_1, $color_2);
  -webkit-background-clip: text;
  color: transparent;
}

@mixin background-gradient($color_1, $color_2, $url:'../img/example.jpg', $dir: right bottom) {
  background-image: linear-gradient(to $dir, $color_1, $color_2), url($url);
  background-size: cover;
  background-position: top;
}
