/* Error: Top-level selectors may not contain the parent selector "&".
 *     ,
 * 175 |   &__details {
 *     |   ^^^^^^^^^^
 *     '
 *   layout/_tours.scss 175:3     @content
 *   abstracts/_mixins.scss 45:7  respond()
 *   layout/_tours.scss 174:1     @import
 *   main.scss 18:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a     \2577 \a 175 \2502    &__details {\a     \2502    ^^^^^^^^^^\a     \2575 \a   layout/_tours.scss 175:3     @content\a   abstracts/_mixins.scss 45:7  respond()\a   layout/_tours.scss 174:1     @import\a   main.scss 18:9               root stylesheet';
}
