/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #777;
    padding: 3.0rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
            to right bottom,
            rgba(126, 213, 111, 0.8),
            rgba(40, 180, 133, 0.8)),
    url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 95vh);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-box {
    position: absolute;
    top: 4.0rem;
    left: 4.0rem;
}

.logo {
    height: 3.5rem;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.heading-primary-main {
    display: block;
    text-align: center;
    font-size: 6.4rem;
    letter-spacing: 3.5rem;
    font-weight: 600;

}

.heading-primary-sub {
    display: block;
    text-align: center;
    font-size: 3.2rem;
    letter-spacing: 17.4px;
    font-weight: 600;
}