@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

.section-about {
  background-color: $color-gray-light-1;
  @include padding-section(25rem);
  margin-top: -20vh;
  @extend %flex-col;
  @extend %flex-center;
  gap: 8rem;

  @include respond(tab-port) {
    margin-top: -10vh;
    gap: 6rem;
  }
}

.box-about {
  max-width: $max-width;
  @include grid();
  justify-self: center;
  @include respond(tab-port) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.text-box {
  @include respond(tab-port) {
    width: 70%;
  }
  @include respond(phone) {
    width: 100%;
  }
}

.img-box {
  position: relative;
  width: 100%;

  @include respond(tab-port) {
    height: 30rem;
    width: 55%;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  @include respond(phone) {
    width: 80%;
    margin: 0 auto;
    height: 100%;

  }

  .composition {
    &:hover img:not(:hover) {
      transform: scale(.95);
      @include respond(phone) {
        transform: scale(1);
  }
    }

    & img {
      position: absolute;
      width: 55%;
      height: auto;
      border-radius: 2%;
      z-index: 10;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

      outline-offset: 2rem;

      transition: all .2s ease-out;
      @include respond(phone) {
        position: static;
        width: 100%;
        margin-bottom: 2rem;
  }

      &:nth-child(1) {
        top: -1.5rem;
        left: 0;



      }

      &:nth-child(2) {
        top: 2rem;
        right: 0;
      }

      &:nth-child(3) {
        top: 33%;
        left: 20%;
      }

      &:hover {
        outline: 1.5rem solid $color-primary;
        z-index: 100;
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        transform: scale(1.05) translateY(-.5rem);

        @include respond(phone) {
        outline: none;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        transform: scale(1) translateY(0);
  }

      }
    }
  }


}



