@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.box-about {
  max-width: $max-width;
  @include grid();
  justify-self: center;
}

.img-box {
  position: relative;

  width: 100%;

  .composition {
    &:hover img:not(:hover) {
      transform: scale(.95);
    }
  }

  img {
    position: absolute;
    width: 55%;
    height: auto;
    border-radius: 2%;
    z-index: 10;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    outline-offset: 2rem;

    transition: all .2s ease-out;

    &:nth-child(1) {
      top: -1.5rem;
      left: 0;
    }

    &:nth-child(2) {
      top: 2rem;
      right: 0;
    }

    &:nth-child(3) {
      bottom: 0;
      left: 20%;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      z-index: 100;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      transform: scale(1.05) translateY(-.5rem);

    }


  }

}

