@import "../abstracts/functions";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";
@import "../abstracts/variables";

.section-features {
  @include background-gradient(rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8), '../img/nat-4.jpg');
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  @include padding-section(20rem);
  margin-top: -10rem;

  transition: all .3s ease-out;
}

.features-box {
  max-width: $max-width;
  @include grid(4);
  margin: 0 auto;
  @include respond(tab-port) {
    grid-template-columns: minmax(0, 30rem) minmax(0, 30rem);
    row-gap: 4rem;
    justify-content: center;
}

  @include respond(phone) {
    grid-template-columns: repeat(auto-fill, minmax(25rem, 40rem));
}
}

.features-card {
  padding: 2.5rem;
  background-color: rgba($color-white, 0.8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  @extend %text-align;

  &__icon {
    font-size: 6rem;
    color: $color-primary-dark;
    @include text-gradient($color-primary-light, $color-primary);
    padding-top: .5rem;
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 3rem 4rem rgba($color-black, 0.15);
    @media (hover: none) {
        transform: translateY(0rem) scale(1);
  }
  }
}
